RAG + Chatbot/RAG + Chatbot workflow.json
{
  "name": "RAG + Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WQgEXuWAMvUE1H4S5abGgqaEXR6Mg26V",
          "mode": "list",
          "cachedResultName": "n8n Stuff",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WQgEXuWAMvUE1H4S5abGgqaEXR6Mg26V"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "13ba6b91-56d3-4061-a4c2-6bbf9267a5a9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4kymymZrrpsuqUp6",
          "name": "pragyamvikram@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        208
      ],
      "id": "882f54f6-b5b9-40b7-87be-b63338b98c95",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4kymymZrrpsuqUp6",
          "name": "pragyamvikram@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag1-n8n",
          "mode": "list",
          "cachedResultName": "rag1-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "3c69f4aa-7daa-44a2-8b9f-39118a070bbf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3R6ZYKb6q6gIcbfS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "90aee361-b2cd-4b26-b7f0-f528dad320c8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "a65f9296-6e2f-4aec-b011-e7d398919d18",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "0d27802c-3894-4659-bda6-f523e6db83dc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        752
      ],
      "id": "98e95bb7-94b2-4cd8-9075-3ec418090135",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        752
      ],
      "id": "cbfa80e9-abec-4ba6-a42e-5d0729b309d1",
      "name": "When chat message received",
      "webhookId": "3746a1b1-c81b-41a6-955b-c041d5c775bb"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call tool to access FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag1-n8n",
          "mode": "list",
          "cachedResultName": "rag1-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        976
      ],
      "id": "b616938c-5754-4fa0-83ca-1a2430c6d8a9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3R6ZYKb6q6gIcbfS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        1184
      ],
      "id": "858063c9-083a-4abd-bbdf-d0434201c274",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        976
      ],
      "id": "5ae76c0e-6d64-4e1d-9794-926a55e6d30c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "### RAG Pipeline \nPinecone to vectorize the data, OpenAI embedding to categorize and respond to queries"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        96
      ],
      "typeVersion": 1,
      "id": "f976de0a-e1c3-44cd-b4ce-a4c86924fe2b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Chatbot agent \nUse this to ask questions about the uploaded document and vectorized data"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        880
      ],
      "typeVersion": 1,
      "id": "7de66e01-e87e-42a5-8535-122a9ef7402c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a843e30-9848-449f-84df-84b8e312b321",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0a22db5b39a451d822653c02e7381abe720b12e8adf09b4f911c47075a5ef42"
  },
  "id": "2XZfr2pMvlhTXT6b",
  "tags": []
}