RAG + Chatbot/RAG + Chatbot workflow.json
{
  "name": "RAG + Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WQgEXuWAMvUE1H4S5abGgqaEXR6Mg26V",
          "mode": "list",
          "cachedResultName": "n8n Stuff",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WQgEXuWAMvUE1H4S5abGgqaEXR6Mg26V"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "13ba6b91-56d3-4061-a4c2-6bbf9267a5a9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4kymymZrrpsuqUp6",
          "name": "pragyamvikram@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        208
      ],
      "id": "882f54f6-b5b9-40b7-87be-b63338b98c95",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4kymymZrrpsuqUp6",
          "name": "pragyamvikram@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag1-n8n",
          "mode": "list",
          "cachedResultName": "rag1-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        0
      ],
      "id": "3c69f4aa-7daa-44a2-8b9f-39118a070bbf",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3R6ZYKb6q6gIcbfS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "90aee361-b2cd-4b26-b7f0-f528dad320c8",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "a65f9296-6e2f-4aec-b011-e7d398919d18",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        432
      ],
      "id": "0d27802c-3894-4659-bda6-f523e6db83dc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        752
      ],
      "id": "98e95bb7-94b2-4cd8-9075-3ec418090135",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        224,
        752
      ],
      "id": "cbfa80e9-abec-4ba6-a42e-5d0729b309d1",
      "name": "When chat message received",
      "webhookId": "3746a1b1-c81b-41a6-955b-c041d5c775bb"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call tool to access FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag1-n8n",
          "mode": "list",
          "cachedResultName": "rag1-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        976
      ],
      "id": "b616938c-5754-4fa0-83ca-1a2430c6d8a9",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "3R6ZYKb6q6gIcbfS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        1184
      ],
      "id": "858063c9-083a-4abd-bbdf-d0434201c274",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        976
      ],
      "id": "5ae76c0e-6d64-4e1d-9794-926a55e6d30c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "### RAG Pipeline \nPinecone to vectorize the data, OpenAI embedding to categorize and respond to queries"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        96
      ],
      "typeVersion": 1,
      "id": "f976de0a-e1c3-44cd-b4ce-a4c86924fe2b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Chatbot agent \nUse this to ask questions about the uploaded document and vectorized data"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        880
      ],
      "typeVersion": 1,
      "id": "7de66e01-e87e-42a5-8535-122a9ef7402c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1520,
        496
      ],
      "id": "e5c76a17-ad76-41df-a044-2eb499336f98",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "npgx0o4AmfyFWi0H",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer support",
              "description": "An email that is related to helping out a customer. They may be ask about our store policies, products or services"
            },
            {
              "category": "Other",
              "description": "An email that is not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1728,
        496
      ],
      "id": "2feedf9f-f830-47b8-a401-09a2aa8ebbc3",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1712,
        688
      ],
      "id": "53b58164-45af-4e6c-bd18-28345f55a9a4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        592
      ],
      "id": "d17a2af7-7c8e-48bb-8931-3be90f5e47fd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Overview-\nYou are a helpful customer support agent for Tech Haven. Respond to incoming emails in a helpful and friendly manner using information stored in your referenced document \n\nInstructions-\nUse emojis. Sign off as 'Your personal support human from Tech Haven Solutions'. Make sure you use proper wordings taken from the referenced document and sound professional yet friendly\n\nOutput-\nOutput only the body content of the email"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2272,
        320
      ],
      "id": "d6607126-0ba0-43a6-bd3e-5348624170c6",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        480
      ],
      "id": "001439be-b90d-41b5-9804-907b62c03a80",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to access policy and FAQ info",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag1-n8n",
          "mode": "list",
          "cachedResultName": "rag1-n8n"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2480,
        480
      ],
      "id": "1b55f4f7-783d-481a-8e15-092a0ee7b8f2",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "3R6ZYKb6q6gIcbfS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        624
      ],
      "id": "f368cbbe-0ebd-40a7-ae63-ac54ab9b07c8",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "ZwAkiagE5XlScPrw",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2624,
        320
      ],
      "id": "270f2f76-b74f-4f00-9773-436bf2be5e4b",
      "name": "Reply to a message",
      "webhookId": "ce1e7bf4-646d-4efb-924c-b93eff319b72",
      "credentials": {
        "gmailOAuth2": {
          "id": "npgx0o4AmfyFWi0H",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "### Customer support\nAutomatic email trigger for any emails sent to the company about policies, products or services"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        464
      ],
      "typeVersion": 1,
      "id": "044c68fb-c273-4a9c-9e9a-a6cae148d226",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1995cb19b0ffbe30",
          "threadId": "1995cb19b0ffbe30",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 5731,
          "headers": {
            "delivered-to": "Delivered-To: pragyamvikram@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 4fb4d7f45d1cf-62fa5d196a1sor700790a12.3.2025.09.18.04.59.27\r\n        for <pragyamvikram@gmail.com>\r\n        (Google Transport Security);\r\n        Thu, 18 Sep 2025 04:59:27 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:6402:27c9:b0:62f:5cd8:9b2e with SMTP id\r\n 4fb4d7f45d1cf-62f84678bfcmr4566499a12.29.1758196766280; Thu, 18 Sep 2025\r\n 04:59:26 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1758196767; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=LpEyISqyQRdm0etPUYwXJHlAc692ex8D1amCkeELobCWTenxAXkP8VNF4Imxz/kfCc\r\n         z3bMThbeMOW2E5QYJOGLzNP+BkZfsFZY8QtmycYfWvHdEIb474MZqWCgHLI+4SWPN/mj\r\n         S6vRZTC7XbOdQ21P35QxaSED7nTUpGafRqgdRXq0kuBhR3t7SUYjeCEs4LzNbqRy2VZl\r\n         4mnYUlmw1U/Zl+muDEMHCePbZ1iF3pfgLRE+Yw4l8v5GNJYXMW+iN5r44cCN+1sSLHf9\r\n         3j47Cwn/XgWro4mlWsl0TBUF6vo0Vao4dPPomGycAL+gz2kIR3PzCwLxGucIc0kYabfY\r\n         g+pw==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=hVJAYaSMkO7HePWwzo3c4lEIBnofgBcr/BDAdn4fMyg=;\r\n        fh=ZqIVTLOcEnA0lfw3Lm3dd7uhexxxfrF0811TR2AOPrU=;\r\n        b=VfG6f4zp/6C0YTJLHhsCCBuvNHHZl7866I0WP8NKuhpUTVT29W0qjYZtxTGAClJoZ3\r\n         SZbisJ18CR7xjfMeddSgY7lWgbiDijVaLZrkBQx+WqlFOGkKPPbxIdk3QKUEDhtPIop5\r\n         V3QXmmL5ewrobTBKCjH2n1/C9BOR/dFUHzsqpGSk5qXxmMpmwOt0OLBkImINlD7/Y2rG\r\n         ihSnVdQFAM3VopoXJeWE7CFHSujp0zrTBvyOFHXuTRLf93VE1sNWfkqecl62WR+kuaIG\r\n         RohzLEGuotFUsBM6FfQBiIcl59HJvTtyXLIf3wuvDhK9xbyv3A0upMJtIb7RtJMIqdRW\r\n         M78g==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=RoGurSXT;\r\n       spf=pass (google.com: domain of pragyamv08@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=pragyamv08@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <pragyamv08@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of pragyamv08@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=RoGurSXT;\r\n       spf=pass (google.com: domain of pragyamv08@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=pragyamv08@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1758196766; x=1758801566; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=hVJAYaSMkO7HePWwzo3c4lEIBnofgBcr/BDAdn4fMyg=;\r\n        b=RoGurSXTluc5vU7NdP1jdAGiPMKUVtJUTvXTF0dPSOzAOIkUJrnccDfCaP8nj86UWA\r\n         XXljN383xMN3Mob9eMIIoN7JQ0gc0qwUQ6UJdxzH9+1m6BBVBz1GeOs/Lshbv/emdiNb\r\n         eibXih9vBYloVolTA45cJa69WVURrjzOPGusKQvbVwv2fhn4x0uuS+krVX0cZ6j/c5yq\r\n         dABIlS7QIgsUyD5buvpyHA3Ctw0XwlLhfN7A0Xk8KjYXg9gFEy8bZSMXO6VG8xk38MZy\r\n         wvqmvWvnJyaL6WaYM0LqgkwgMfl2d+HVo2QyTWszaaP1M3lfWmAIiMKCL1uGCLxgz8rA\r\n         LWQg==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1758196766; x=1758801566;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=hVJAYaSMkO7HePWwzo3c4lEIBnofgBcr/BDAdn4fMyg=;\r\n        b=CYR47VC7f0RwXYYNoYhbB3sOIV/cgR6gXQ1PGzn/+zP+McXm9rrTbKYDHdOcAISXo0\r\n         U9QIbD1/1tM36m4XBtgD3BYTTfDGTDObNP6wKmwD7mLjFMmmWpJKN46Nhu3mw3IlZC1G\r\n         0h9XK8ORVEkD6xZWLtRmzAYQbgSQxMwaTbTzDceUAZx1t8m0e0eEPLK6kLl2eQM1K1db\r\n         H8yV9+WG2Mlfoa/03XJ71QxJa8am0vTCtw/iYbpuhSIwPqEevVqfx9JXy9VEx0fXIncZ\r\n         PfTmwCon34idIsAVU74c69/L6yfOZnW5ViMJGFvvTjdFIWnEUkCTH9ka+yrMOke1Ihtt\r\n         0kpQ==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YzmFEukAmm6sRa+gnCmrnkKBhMQGG917j3PCi3vNPdf0cZrz8s+\r\n\tyZvcRgz8b1FlfYINA7/gAE+sG980IwjYpAuJTUOQadCIZTgLDUdoZbvDw3ra97aWJCN8fW1CCCi\r\n\tVrEUmjjqW7QtvSbBzlwdiCmXMWplcX0XjU+Bz",
            "x-gm-gg": "X-Gm-Gg: ASbGnctFv0DouUnUP1oaSu40hmt9EIsa0+CxtRzBMwmO4xOJZKo8MqPVr2a3X9HndQc\r\n\tRmnEfwocSI7KgpLNvCrMO+NsWfFD/mmpKql943Yi634Ol0662ylzks7WIjyG9T0y/mdmtMEOhmP\r\n\tR2g7kZYOxxoJ1cmmGRBX58/0JJGtqrpnj0OF4xuytHNnQ81NGFBMnnHI+RKFT+Rjpt7z8NL5Sos\r\n\tO9FfhOZCToRX3n/rK1e87UW9XEDZLou9YwBxJJzoUTX3JhoQkPc2Juy",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IF40Dk5maLtFOHbscCfKeNAq6VaCBz2JOtK0g6UuTaarTqJ0jjAd5TC9idj7BJwTS+4ztVy1FGVMWupbyFK850=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Pragya MV <pragyamv08@gmail.com>",
            "date": "Date: Thu, 18 Sep 2025 17:29:14 +0530",
            "x-gm-features": "X-Gm-Features: AS18NWALvdcBCwcvVy9a8-R6xASX2A6IqRY61myKISylxLqDgI2TiZ43gsdUyuY",
            "message-id": "Message-ID: <CAPvzPgPVjoj_rtwXH+s0wqMr+GpstzzNAB-UCt_xmV7Zb23wig@mail.gmail.com>",
            "subject": "Subject: Help",
            "to": "To: \"pragyamvikram@gmail.com\" <pragyamvikram@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000b310b6063f121581\""
          },
          "html": "<div dir=\"auto\">What is your privacy policy? I am concerned about my data</div>\n",
          "text": "What is your privacy policy? I am concerned about my data\n",
          "textAsHtml": "<p>What is your privacy policy? I am concerned about my data</p>",
          "subject": "Help",
          "date": "2025-09-18T11:59:14.000Z",
          "to": {
            "value": [
              {
                "address": "pragyamvikram@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:pragyamvikram@gmail.com\" class=\"mp_address_email\">pragyamvikram@gmail.com</a></span>",
            "text": "pragyamvikram@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "pragyamv08@gmail.com",
                "name": "Pragya MV"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Pragya MV</span> &lt;<a href=\"mailto:pragyamv08@gmail.com\" class=\"mp_address_email\">pragyamv08@gmail.com</a>&gt;</span>",
            "text": "\"Pragya MV\" <pragyamv08@gmail.com>"
          },
          "messageId": "<CAPvzPgPVjoj_rtwXH+s0wqMr+GpstzzNAB-UCt_xmV7Zb23wig@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18fa1c3c-9d4b-46ab-96f6-561269f53627",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e0a22db5b39a451d822653c02e7381abe720b12e8adf09b4f911c47075a5ef42"
  },
  "id": "2XZfr2pMvlhTXT6b",
  "tags": []
}